@rendermode InteractiveAuto
@page "/debug/claims"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Sections

@attribute [Authorize]

<PageTitle>Claims</PageTitle>
<SectionContent SectionId="Navigation.HeaderText">
    Claims
</SectionContent>

<div class="bg-red-100">

    <AuthorizeView>

        <div>
            <QuickGrid Items="context.User.Claims.AsQueryable()">
                <PropertyColumn Property="@(x => CreateClaimTypeDisplayStr(x.Type))" Title="Claim" Sortable="true"/>
                <PropertyColumn Property="@(x => x.Value)"/>
            </QuickGrid>
        </div>

    </AuthorizeView>

</div>

@code {

    private static string CreateClaimTypeDisplayStr(string claimType)
    {
        return claimType.Contains("http://", StringComparison.OrdinalIgnoreCase)
            ? claimType.Split('/').Last()
            : claimType;
    }

}