@rendermode InteractiveAuto
@page "/"
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>Home</PageTitle>
<SectionContent SectionId="Navigation.HeaderText">
    Home
</SectionContent>

<h1>Hello, world!</h1>

Welcome to your new app.