@inherits LayoutComponentBase
@inject NavigationManager NavManager

<nav class="flex gap-4 mb-4">
    <AuthorizeView>
        <Authorized>
            <form action="authentication/logout" method="post">
                <AntiforgeryToken/>
                <button>Logout</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login">Login</a>
        </NotAuthorized>
    </AuthorizeView>
    <a href="debug/claims">debug/claims</a>
</nav>

@Body

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<ReconnectModal/>