@inherits LayoutComponentBase

<main class="grid grid-cols-[repeat(2,auto)] max-w-full
             md:grid-cols-[16rem_1fr]">
    <Navigation/>
    <AuthenticationMenu/>
    <div class="bg-red-100 col-start-1 col-end-3 md:col-start-2">
        @Body
    </div>
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<ReconnectModal/>